@import "tailwindcss";

button {
  cursor: pointer;
}

@layer utilities {}

.glass-blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}